*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.list{
    margin: 50px;
}
.list-item{
    margin: 0 auto;
    list-style: none;
    width: 960px;
    /* text-align: left; */
    padding: 20px;
}
.list-item:nth-child(odd){
    background-color:  rgb(240, 240, 240);
}
.cube-list{
    width: 960px;
    margin: 0 auto;
}
.cube{
    width: 30%;
    height: 200px;
    margin-bottom: 40px;
    margin-right: 5%;
    float: left;
    background-color: gold;
}
.cube:first-child,
.cube:last-child,
.cube:nth-child(5){
    background-color: darkorange;
}
.cube:nth-child(3n){
    margin-right: 0;
}